/* Reset default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7faf6; /* Light green background color */
}

header {
  background-color: #dff0d8; /* Light green header background color */
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #3c763d; /* Dark green header text color */
  font-size: 28px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

nav ul li {
  flex-grow: 1; /* Allow the items to grow and occupy remaining space evenly */
  text-align: center; /* Center the content horizontally */ß
}

}

nav ul li a {
  color: #3c763d; /* Dark green navigation links color */
  text-decoration: none;
  font-size: 30px;
}

nav ul li a i {
  width: 30px; /* Adjust the width of the icon */
  height: 30px; /* Adjust the height of the icon */
}

main {
  padding: 20px;
}

article {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin: 20px auto; /* Center horizontally by setting left and right margins to auto */
}



@media screen and (max-width: 768px){
  iframe {
    width: 100%; /* Make the iframe fill the entire width of the viewport */
    height: 75px auto; /* Let the height adjust automatically based on the content */
}

@media (min-width: 769px) {
  article {
    width: 60%; /* Set a specific width for the website view */
    height: 35%; /* Set a specific height for the website view */
  }
}

article h2 {
  color: #3c763d; /* Dark green blog post title color */
  font-size: 24px;
  margin-bottom: 10px;
}

article p {
  color: #333; /* Regular text color */
  line-height: 1.5;
}

footer {
  background-color: #dff0d8; /* Light green footer background color */
  padding: 20px;
  text-align: center;
  color: #3c763d; /* Dark green footer text color */
}

/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Global styling for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Style for the welcome section */
.welcome {
    text-align: center;
    margin: 20px; /* Adjust the margin to control the spacing */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Style for the form */
.form {
    text-align: left; /* Align form elements to the left */
    max-width: 400px; /* Adjust the width to your preference */
    margin: 0 auto; /* Center the form horizontally */

}

/* Style for form labels */
.form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

/* Style for form inputs and textarea */
.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f7faf6;
}

/* Style for the submit button */
.submit-button {
    display: block;
    width: 80%;
    padding: 10px 20px;
    color: #fff;
    background-color: #3c763d; /* Your desired button color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
     margin: 0 auto;
    display: block;

}
.submit-button2{
    display: block;
    width: 80%;
    padding: 10px 20px;
    color: #fff;
    background-color: #3c763d; /* Your desired button color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
     margin: 0 auto;
    display: block;

}

/* Hover effect for the submit button */
.submit-button:hover {
    background-color: #0056b3; /* Adjust the hover color */
}

.submit-button2:hover {
    background-color: #0056b3; /* Adjust the hover color */
}

.promo{
    width: 90%; /* Make the image width occupy the full container width */
  height: 0; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/refer.png"); /* Replace the URL with the correct image path */
}

.post-image {
  width: 100%; /* Make the image width occupy the full container width */
  height: 0; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/toxins.jpg"); /* Replace the URL with the correct image path */
}

.welcomep {
  width: 100%; /* Make the image width occupy the full container width */
  height: 45%; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/welcome.png"); /* Replace the URL with the correct image path */
}

.post-image2 {
  width: 100%; /* Make the image width occupy the full container width */
  height: 0; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/10.png"); /* Replace the URL with the correct image path */
}

.post-image4 {
  width: 100%; /* Make the image width occupy the full container width */
  height: 0; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/NxPLogo.png"); /* Replace the URL with the correct image path */
}

.post-image5{
  width: 100%; /* Make the image width occupy the full container width */
  height: 0; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/electfoods.png"); /* Replace the URL with the correct image path */
}



.groups{
    width: 100%; /* Make the image width occupy the full container width */
  height: 0; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/NxHealthpodcast.png"); /* Replace the URL with the correct image path */
}

.Hsol{
    width: 100%; /* Make the image width occupy the full container width */
  height: 0; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/health_sol.png"); /* Replace the URL with the correct image path */
}



.ebook{
    width: 70%; /* Make the image width occupy the full container width */
  height: 0; /* Set the initial height to 0 */
  padding-bottom: 100%; /* Set the padding-bottom to create a square aspect ratio */
  background-position: center center center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Crop and scale the image to cover the container */
  background-image: url("images/ebookc.png"); /* Replace the URL with the correct image path */
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.image2 {
  width: 85%;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0 auto; /* This centers the element horizontally */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ebook3{
  width: 85%;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0 auto; /* This centers the element horizontally */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 769px) {
  .image2 {
    width: 35%;
  }
  
}




.social-media-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-media-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-media-links li a {
  font-size: 55px; /* Increase the font size to make the icons bigger */

}



.social-media-links li:last-child {
  margin-right: 0;
}

.az-list {
  text-align: center;
  margin-bottom: 20px;
}

.az-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.az-list ul li {
  margin: 0 10px;
}

.letter-section {
  margin-bottom: 20px;
}

.letter-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styles for the anchor-linked letters in the A-Z list */
.az-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.az-list li {
  margin: 5px;
}

@media (max-width: 600px) {
  /* Styles for mobile view */
  .az-list ul {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10px;
    overflow-x: auto;
  }

  .az-list li {
    margin: 5px;
  }

  .wp {
    max-height: 400px;
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }
}

   .video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 768px) {
      /* Adjust styles for mobile devices */
      .video-container {
        padding-bottom: 75%; /* 4:3 aspect ratio (height/width) */
      }
    }

      .back-button {
      display: block;
      width: fit-content;
      margin: 0 auto;
      padding: 10px 20px;
      color: #3c763d;
      background-color: #bada55; /* Replace with your desired color */
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
    }

    .back-button:hover {
      background-color: #8cab35; /* Replace with your desired hover color */
    }

 .icon-img {
      width: 51px; /* Adjust the width as needed */
      height: 51px; /* Adjust the height as needed */
      vertical-align: middle;
    }

  @media only screen and (min-width: 768px) {
    .icon-img{
        display: none; /* Adjust the size as needed for desktop */
    }

}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li .icon-img {
  margin-right: 5px; /* Adjust the margin as needed */
}


/* Reset default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f7faf6; /* Light green background color */
}

header {
  background-color: #dff0d8; /* Light green header background color */
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #3c763d; /* Dark green header text color */
  font-size: 28px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #3c763d; /* Dark green navigation links color */
  text-decoration: none;
}

main {
  flex: 1; /* Allow main section to grow and take remaining vertical space */
  padding: 20px;
}

footer {
  background-color: #dff0d8; /* Light green footer background color */
  padding: 20px;
  text-align: center;
  color: #3c763d; /* Dark green footer text color */
  margin-top: auto; /* Push the footer to the bottom of the container */
}

{
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
    }

    .search-bar {
      display: flex;
      align-items: center;
      max-width: 400px;
      margin: 0 auto;
      padding: 10px;
      border-radius: 30px;
      background-color: #e9e9e9;
    }

    .search-bar input[type="text"] {
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 5px;
      font-size: 16px;
    }

    .search-bar button {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 5px;
      cursor: pointer;
    }

    .search-bar button i {
      font-size: 20px;
      color: #888888;
    }

    @media (max-width: 600px) {
      .search-bar {
        max-width: 300px;
      }
    }



